{
    "timeout": 10,
    "source": {
        "directories": [
            "src"
        ]
    },
    "logs": {
        "text": "php://stderr",
        "stryker": {
            "report": "/^\\d\\.\\d\\.x$/"
        }
    },
    "minMsi": 100,
    "minCoveredMsi": 100
}
